<div class="main-content">
    <!-- Title Section -->
    <section class="title-section">
        <h1>{{ randonnee.nomRandonnee }}</h1>
        <h2 class="theme">Thématique : {{ theme?.nomTheme }}</h2> <!--correction sur l'erreur programData.theme car programdata n'existe pas sur le type detail offre -->
    </section>

    <!-- Image Section -->
    <section class="image-section">
        <div class="main-image" *ngIf="randonnee.imageRandonnee"> <!--Si randonnee.imageRandonnee est défini (c'est-à-dire qu'une URL d'image a été récupérée de la base de données), le bloc est rendu.-->
            <img [src]="randonnee.imageRandonnee" alt="Main Image" /> <!--L'URL de l'image est passée dynamiquement comme source pour l'image, affichant ainsi l'image correspondante.-->
        </div>
        <div class="info-section">
            <span>Prix : {{ randonnee.prixRandonnee }} €</span>
            <span>Groupe de {{ randonnee.maximumParticipant }}</span>
            <span> {{ randonnee.nbrNuitRandonnee }} nuits </span>
        </div>
        <div class="thumbnail-images">
            <img src="assets/Asset/detailoffre2.jpg" alt="photo séjour 2" />
            <img src="assets/Asset/detailoffre3.jpg" alt="photo séjour 3" />
            <img src="assets/Asset/detailoffre4.png" alt="photo séjour 4" />
        </div>
    </section>

    <!-- Description Section -->
    <section class="description-section">
        <h3>Au programme</h3>
        <p>{{ randonnee.descriptionRandonnee }}</p>
    </section>
    <section>
    <p>
        Pour cette session la thématique proposée, sera la suivante : 
        <span> {{ randonnee.theme?.nomTheme }} </span> // 
    </p>
    </section>

    <!-- Information Panels -->
    <section class="info-panels">
        <div class="info-panel">
            <h4>Préparation physique</h4>
            <p>
                Pour profiter pleinement de votre voyage, n'oubliez pas d'entretenir votre forme, restez en mouvement régulièrement, soyez mobiles et souples. Mangez sainement, hydratez-vous convenablement et régulièrement.
            </p>
        </div>
        <div class="info-panel">
            <h4>Matériel à ne pas oublier</h4>
            <p>
                Chaussures adaptées, Pantalon/short/legging adapté, (prevoir un second si besoin), T-shirt + 1 veste imperméable/coupe-vent, Un vêtement chaud (pour les arrêts), Une gourde (min 2L),
            </p>
        </div>
        <div class="info-panel">
            <h4>Hébergement</h4>
            <p>
                Hebergement situé dans les Ardennes à quelques kilomètres à pieds du départ de la randonnée. Vous serez logés dans un tipi de  2/4 personnes
            </p>
        </div>
    </section>

    <!-- Last Advice Section -->
    <section class="last-advice">
        <h4>Derniers conseils</h4>
        <p>
            1. La réussite de tout voyage est un délicat mélange de bonne humeur, de sentiments d'entraide, de convivialité, d'esprit de découverte, de bonne volonté, ainsi que le respect des traditions locales. N'oubliez pas, des imprévus sont toujours possibles et font partie de l’aventure, dans ces moments, adoptez une attitude sage : patience et tolérance.
        </p>
        <p>
            2. L’objectif de ce séjour, même s’il sera éprouvant, n’est pas la prouesse physique extrême. Le but principal est d’apprécier l’activité de la marche, dans la lenteur et la contemplation qu’elle permet. De se poser des questions, et de prendre le temps nécessaire pour y répondre. Pour profiter au maximum de l’expérience, détachez-vous des pensées superflues et focalisez-vous sur l’essentiel : Ici et maintenant.
        </p>
    </section>

    <!-- Footer Button -->
    <div class="footer-button">
        <button class="reserve-button">Je réserve mon séjour</button>
    </div>
</div>