stage-marche-devient/.vs/stage-marche-devient
stage-marche-devient/stage-marche-devient/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
stage-marche-devient-front/.vscode
stage-marche-devient-front/.editorconfig
stage-marche-devient-backoffice/.vscode
stage-marche-devient-backoffice/.editorconfig
stage-marche-devient/stage-marche-devient/obj/Debug/net8.0
stage-marche-devient/.vs/ProjectEvaluation
