.conteneur_principale_modif_tag_publication{
    width: 80vw;
    height: 80vh;
    background-color: rgb(207, 230, 255);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    h3{
        grid-area: 1 / 2 / 2 / 4;
        font-size: 3vh;
        border: 0px;
        padding: 0.3vh;
        justify-self: center;
        align-self: center;
    }
    .conteneur{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
        p{
            size: 100%;
            grid-area: 1 / 1 / 2 / 2;
        }
        input{
            grid-area: 1 / 2 / 2 / 3;
            max-height: 2.5vh;
        }
    }
    .nom{
        grid-area: 2 / 1 / 3 / 3;
    }
    .couleur{
        grid-area: 3 / 1 / 4 / 3;
    }

   
    .button_envoi_modif_tag_publication{
        font-size: 1.5vh;
        width: 80%;
        grid-area: 1 / 4 / 2 / 5;
        height: fit-content;
        justify-self: center;
        align-self: center;
        /*apparence du button*/
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
                
        
    }
    .button_envoi_modif_tag_publication:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      }
      
      .button_envoi_modif_tag_publication:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      .button_envoi_modif_tag_publication:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
      }
}




