*{
    font-family: "JetBrains Mono",monospace;
}

.conteneur_principale_randonnee {

    height: 100vh;
    background-color: rgba(229, 236, 255, 0.998);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .conteneur_filtre {

        grid-area: 1 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button_filtre {
            width: 10vw;
            margin-bottom: 2vh;
        }

        .input_filtre {
            width: 50%;
        }

    }

    .titre_boite_randonnee {
        grid-area: 3 / 1 / 4 / 2;
        justify-self: center;
        font-size: 2vw;
        text-align:center;
        text-transform:uppercase;

    }
    .boite_listing_randonnee {
        grid-area: 4 / 1 / 8 / 2;

        .titre_colonne {
            display: grid;
            grid-template-columns: repeat(4, 1fr) 0.15fr 0.5fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            border-bottom: 4px green solid;
            padding-left: 1vw;
            padding-right: 1vw;

            p.titre_1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            p.titre_2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            p.titre_3 {
                grid-area: 1 / 3 / 2 / 4;
            }

            p.titre_4 {
                grid-area: 1 / 4 / 2 / 5;
            }

            p.titre_5 {
                grid-area: 1 / 5 / 2 / 6;
            }

            p.titre_6 {
                grid-area: 1 / 6 / 2 / 7;
            }
            p.titre_7{
                grid-area: 1 / 7 / 2 / 8;
            }
        }
    }

    .Conteneur_list_randonnee {
        grid-area: 2 / 1 / 9 / 8;
        padding-top: 1vh;
        padding-bottom: 1vh;
        overflow-y: auto;
        max-height: 100%;

        li:nth-child(even) {
            background-color: rgb(191, 191, 191);
        }

        .item_list_randonnee {
            padding-left: 1vw;
            padding-right: 1vw;
            
            p {
                padding-right: 0.20vw;
                padding-left: 0.25vw;
                
            }

            button {
                width: 8vw;
                margin-top: 0.5vh;
                margin-bottom: 0.5;
            }

            .nom_randonnee {}

            .description-randonnee {
                grid-area: 1 / 2 / 2 / 3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .lieu_randonnee {}

            .limite_participant {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                p{
                    border: none;
                }
            }

            .nbr_nuit_randonnee {}

            .prix_randonnee {}

            .conteneur_button {
                border: none;
                display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    grid-auto-flow: row;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;
                    
                button.modif_randonnee {
                    background-image: radial-gradient(100% 100% at 100% 0, #e9ff5a 0, #ffe254 100%);
                    color: black;
                    
                }
                button.supression_randonnee {
                    background-image: radial-gradient(100% 100% at 100% 0, #ffafaf 0, #ff5454 100%);
                }
                button.ajout_session{
                    background-image: radial-gradient(100% 100% at 100% 0, #afffce 0, #5fff54 100%);
                    color: black ;
                    grid-column: span 2;
                }
            }
            

            .section_1 {
                grid-area: 1 / 1 / 2 / 2;
                border-right: dotted black 1px;
            }

            .section_2 {
                grid-area: 1 / 2 / 2 / 3;
                border-right: dotted black 1px;
            }

            .section_3 {
                grid-area: 1 / 3 / 2 / 4;
                border-right: dotted black 1px;
            }

            .section_4 {
                grid-area: 1 / 4 / 2 / 5;
                border-right: dotted black 1px;
            }

            .section_5 {
                grid-area: 1 / 5 / 2 / 6;
                border-right: dotted black 1px;
            }

            .section_6 {
                grid-area: 1 / 6 / 2 / 7;
                border-right: dotted black 1px;
            }

            .section_7 {
                grid-area: 1 / 7 / 2 / 8;

            }
            .session_dispo_container{
                grid-area: 2/1/3/8;
                padding-top: 1vh;
                padding-bottom: 1vh;
                background-color: rgba(195, 195, 195, 0.355);
                h4{
                    text-decoration: underline;
                    color: #f60000;
                }
                .item_des_session{
                    display: flex;
                    padding: 1vh;
                    flex-direction: row;
                    align-content: center;
                    align-items: center;
                    a {
                        text-decoration: none;
                        font-size: 1.02em;
                    }
                    .conteneur_theme{

                        .selecteur_theme{

                        }
                    }
                    .conteneur_supression_session{
                        button{
                            justify-self: center; justify-content: center;
                            margin-left: 2vw;
                        }
                    }
                }
            }
        }
    }
}

.boite_ajout_randonnee {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 70vw;
    height: 70vh;
    z-index: 3;
}

.boite_modif_randonnee {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 70vw;
    height: 70vh;
    z-index: 3;
}
.boit_ajout_session{
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 70vw;
    height: 70vh;
    z-index: 3;
}

.button_ajout_randonnee {
    position: fixed;
    bottom: 5vh;
    left: 50vw;
    z-index: 1;

}

.quitter_view_box_button {
    position: fixed;
    right: 5vw;
    top: 5vh;
    z-index: 4;
    padding: 0.6%;
    font-size: larger;
}

button{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    height: fit-content;
    width: fit-content;
    padding: 0.5vh 0.10vw;
}
button:focus{
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
button:hover{
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active{
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.view_screen_shadow_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: rgba(62, 62, 62, 0.849);
    
}